.media-card[data-size="lg"] {
  position: relative;
  picture {
    width: clamp(18rem, 30vw, 30rem);
    transition: transform 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  picture::before,
  picture::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  picture::after {
    background-color: hsl(var(--clr-dark) / 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  picture::before {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7959384437368697) 0%,
      rgba(0, 0, 0, 0) 65%
    );
  }

  a {
    color: white;
  }
}

.media-card[data-size="md"] {
  position: relative;
  .image-wrapper {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    grid-area: image;
  }
  picture {
    transition: transform 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
  }
  img {
    width: 100%;
  }
  picture::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--clr-dark) / 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .media-meta {
    position: absolute;
    padding-top: 0.5rem;
    grid-area: info;
  }
  a {
    color: white;
  }
}

.media-card {
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.media-card:focus-within picture::after,
.media-card:focus-within .play-icon {
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
  .media-card:hover {
    picture {
      transform: scale(1.05);
    }
    picture::after {
      opacity: 1;
    }
  }
}
