.search-box-group {
  display: flex;
  align-items: center;
  background-color: hsl(var(--clr-dark));
  z-index: 2;
  overflow: hidden;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; /* border-radius: 0 0 10px 10px; */
  position: sticky;
  left: 0;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.search-box {
  width: 100%;
  font-size: var(--fs-600);
  border: 2px solid hsl(var(--clr-grey) / 0);
  caret-color: hsl(var(--clr-red));
  color: hsl(var(--clr-white));
  padding: 0.4em 0;
  transition-property: border;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

.search-box:focus {
  outline: none;
  border-bottom: 2px solid hsl(var(--clr-grey));
}

.search-box::placeholder {
  color: hsl(var(--clr-white));
  font-weight: 300;
}
