.media-grid[data-slider="false"] {
  ul {
    display: grid;
    padding: 0;
    gap: 2rem;
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(100%/3, max(10rem, 100%/5)), 1fr)
    );
    li {
      list-style: none;
    }
  }
}

.media-grid[data-slider="true"] {
  overflow: scroll;

  ul {
    padding: 0;
    display: flex;
    gap: 2rem;
    li {
      list-style: none;
    }
  }
}

@media (max-width: 64rem) {
  .media-grid[data-slider="false"],
  .media-grid[data-slider="true"] {
    ul {
      gap: 1.5rem;
    }
  }
}

@media (max-width: 48rem) {
  .media-grid[data-slider="false"],
  .media-grid[data-slider="true"] {
    ul {
      gap: 1rem;
    }
  }
}
