.inner-content {
  padding: 1rem;
}

@media (min-width: 48rem) {
  .main-layout {
    display: flex;
  }

  .inner-content {
    margin-left: 8rem;
    padding: 2rem;
    width: calc(100vw - 8rem);
  }
}
