.svg-group:hover > .svg > .path {
  fill: #fc4747;
}

.svg-group .active {
  fill: white;
}

.path {
  transition: fill 0.2s ease;
}

@media (min-width: 30rem) {
  .svg {
    transform: scale(1.25);
  }
}
