.media-meta {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column-reverse;

  .year,
  .category,
  .rating,
  .title {
    line-height: 1;
  }

  .title {
    font-size: var(--fs-600);
    font-weight: 500;
  }

  dl {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 300;
    font-size: var(--fs-400);
    opacity: 0.75;
  }
}

.media-card[data-size="md"] {
  .media-meta {
    position: static;
  }
}
