.media-card .media-meta {
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column-reverse;

  .year,
  .category,
  .rating,
  .title {
    line-height: 1;
  }

  dl {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 300;
    opacity: 0.75;
  }
}

.media-card[data-size="lg"] .media-meta {
  position: absolute;

  .title {
    font-size: var(--fs-600);
    font-weight: 500;
  }
  dl {
    font-size: 400;
  }
}

.media-card[data-size="md"] .media-meta {
  position: static;
  .title {
    font-weight: 500;
    font-size: var(--fs-500);
  }
  dl {
    font-size: var(--fs-300);
  }
}
